body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: Arial, sans-serif;
}

body::-webkit-scrollbar {
    width: 8px;
    background: #fff;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #fb5602;
    border-radius: 10px;
 
  }

.primeira, .segunda {
    width: 100%;
    font-size: 2rem;
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.header{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
}
.sp1{
    width: 500px;
    height: 100%;
}
.logo{
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
   
}
.sp2{
    width: 500px;
    height: 100%;
}

.content{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.content h1{
    margin-bottom: 200px;
    font-size: 100px;
    text-shadow: #333;
}
.backi{
    width: 100%;
    height: 100vh;
    background-image: url(assets/fundo-liso-estilo-papel_23-2148974875.jpg);
    background-size: cover;
    z-index: -1;
    position: absolute;
    opacity: 0.1;
}

/* carrosel */

.carousel {
    position: relative;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    transform: scale(1.1);
}

.carousel img {
    width: 100%;
    height: auto;
    max-height: 500px; /* Ajuste conforme necessário */
    display: none;
    object-fit: cover;
}
.carousel img.active {
    display: block;
}
.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.prev { left: 10px; }
.next { right: 10px; }

.sub-content{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to left, #972c853f, #fb55024d);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    
}
/* Primeira Seção */
.primeira {
    background: linear-gradient(to bottom, #972c86, #fb5602);
    color: white;
    height: 100vh;
    position: relative;
    z-index: 1;
    opacity: 1;
    transform: translateY(0);
}

/* Segunda Seção */
.segunda {
    background: rgba(255, 255, 255, 0.9);
    color: #333;
    position: relative;
    height: 70vh;
    z-index: 2;
    opacity: 0;
    transform: translateY(50px);
}
.content2{
    position: relative;
    bottom: 30%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* Classe para mostrar a seção */
.show {
    opacity: 1;
    transform: translateY(0);
}

.hide {
    opacity: 0;
    transform: translateY(50px);
}

.card {
    position: relative;
    width: 300px;
    height: 200px;
    transform: scale(1.2);
    background: linear-gradient(-45deg, #972c86 0%, #fb5602 100% );
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card img {
    width: 80px;
    opacity: 0.9;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card:hover {
    transform: rotate(-5deg) scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }
  
  .card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }
  
  .card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
  }
  
  .card:hover svg {
    scale: 0;
    transform: rotate(-45deg);
  }
.rightC{
    right: 100px;
}
.leftC{
    left: 100px;
}